@page
@model Web.Pages.Productos.EliminarModel
@{
}

<h1>Eliminar Producto</h1>

<div class="container">

    <form method="post">

        <input type="hidden" asp-for="producto.Id" />

        <div class="col-md-8">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">
                        @Html.DisplayFor(modelo => modelo.producto.Nombre)
                    </h5>

                    <div class="card-text">
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Descripcion):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Descripcion)
                    </div>

                    <div class="card-text">
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Precio):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Precio)
                    </div>

                    <div class="card-text">
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Stock):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Stock)
                    </div>

                    <div class="card-text">
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.CodigoBarras):</b>
                        @Html.DisplayFor(modelo => modelo.producto.CodigoBarras)
                    </div>

                </div>

                <div class="card-footer">

                    <a class="btn btn-primary" asp-page="./Index">
                        Regresar
                    </a>

                    <button type="submit" class="btn btn-danger">
                        Eliminar
                    </button>

                </div>

            </div>

        </div>

    </form>

</div>